.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/*.ts
node_modules/**
!node_modules/@metaflow/engine/**
!node_modules/@metaflow/engine/out/src/**
!node_modules/jsonc-parser/**
!node_modules/minimatch/**
!node_modules/brace-expansion/**
!node_modules/balanced-match/**
test-workspace/**
*.log
out/test/**
