.vscode/**
images/.vscode
images/.vscode/**
.vscode-test/**
.vscode-test-extensions/**
.vscode-test-user-data/**
coverage/**
.eslint-report.json
test.log
unit-test.log
integration-test.log
integration-test-run2.log
integration-test-run3.log
src/**
.gitignore
.eslintrc.json
tsconfig.json
esbuild.js
**/*.map
**/*.ts
node_modules/**
test-workspace/**
*.log
out/**
scripts/**
